table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    color: teal;
}

svg{
    background-color: aqua;
}

.middle{
    color:yellow;
}

.top{
    color: teal;
    font-size: 50vb;
}
h1{
    color :darkcyan
}
#above{
    color:grey
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}