/* /* *{
    margin-bottom: 20px;
} */
button{
    color: cyan;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:navy;
    padding: 10px;
    border: 0px;
    font-size: 20px;
    border-radius: 20px;
    height: 40px;
    width: auto;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px black ;
}
button:hover{
    background-color: blue;
    color: aqua;
    cursor: pointer;
}
/* .container{
    border: 3px solid rgb(10, 231, 231);
    background-color: bisque;
    margin: 10px;
    padding: 10px;
}
.line::first-letter{
    font-size: 30px;
    color: navy;
}
.line::first-line{
    color:blue;
}
.line::before{
    content: "Hello ";
}
.line::after{
    content: " Bye";
    color: blue;
} */
/* .my-flex{
    display: flex;
    height: 100vh;
    align-items: start;
    justify-content: end;
    gap: 10px;
    flex-direction: row;
}
.cancel{
    background-color: red;
    color: aliceblue;
}
.cancel:hover{
    background-color: darkred;
    color: azure;
    
}
.submit{
    background-color: aqua;
}
.submit:hover{
    background-color: blue;
    color: aqua;
    
} */ 
body{
    background-color: cyan;
}
.content-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: start;
    align-items: center;
}
.login-form{
    background-color: aliceblue;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#login-title{
    text-align: center;
}
.checkbox{
    display: flex;
    gap: 7px;
}
.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgot-pass{
    color: gray;
    text-decoration: underline;
}