*{
    font-family: Montserrat;
    font-weight: 600;
}
body{
    background-color: #6782dd;
}
.container{
    display: flex;
    justify-content: center;
    gap: 80px;
}
.canvas-1{
    padding: 10px 20px 15px 20px;
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 280px;
    position: relative;
    top: 170px;
    border-radius: 25px;
}
.img-holder{
    height: 250px;
    width: 300px;
}
.img-holder img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sub-title{
    position: relative;
    top: -15px;
    font-size: 30px;
    font-weight: 700;
}
.colored{
    color: #4d6dcb;
    font-weight: 700;
}
.btn-1{
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 10px;
    position: relative;
    bottom: 20px;
}
.canvas-2{
    padding: 10px 20px 15px 20px;
    background-color: white;
    height: 500px;
    width: 280px;
    position: relative;
    top: 100px;
    border-radius: 25px;
}
.title2{
    position: relative;
    top: -8px;
    font-size: 20px;
    font-weight: 700;
}
.info{
    font-size: 12px;
    font-weight: 500;
    color: grey;
    position: relative;
    top: -20px;
}
.options-holder{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
    top: -15px;
}
.option-row{
    height: 130px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
.option{
    height: 100%;
    width: 50%;
    border: 0.1px solid rgba(198, 198, 198, 0.408);
    border-radius: 20px;
    box-shadow: 0.5px 0.5px 5px 0.2px rgba(206, 206, 206, 0.479);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}
.option img{
    height: 60px;
    width: 60px;
}

.option p{
    font-size: 12px;
    font-weight: 700;
    position: relative;
    bottom: 5px;
}

.highli{
    display: flex;
    background-color: #4b69db;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    position: relative;
    top: 10px;
    }

.no-highli{
    
    background-color: #efedf2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    position: relative;
    top: 10px;
}
#marketing{
    border:3px solid #4b69db;
}
#sales{
    border:3px solid #4b69db;
}
.passive-txt{
    position: relative;
    bottom: -5px;
    color: #979797;
}

.canvas-3{
    padding:10px 20px 10px 20px;
    background-color: white;
    height: 520px;
    width: 280px;
    top: 30px;
    position: relative;
    border-radius: 25px;
}
.profile{

    border: 1px solid black;
    border-radius: 100%;
    height: 80px;
    width: 80px;
    margin-top: 15px;
    margin-left: 5px;
    
}

.p-name{
    font-weight: 800;
    font-size: larger;
    position: relative;
    top: -5px;
}

.p-info{
    font-size: 12px;
    position: relative;
    top: -20px;
    color: #979797;
}
hr{
    border: 0.1px solid rgba(94, 94, 94, 0.271);
}
.title-3{
    font-size: 14px;
    font-weight: 700;
}
.people-partner{
    height: 45px;
    border-radius: 10px;
    border: 2px solid rgba(128, 128, 128, 0.425);
    padding:2px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.back{
    height:30px;
    width: 30px;
    background-color: #ede8ee;
    position: relative;
    left: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text p{
    font-size: 14px;
    position: relative;
    top: 10px;
}
.below{
    display: flex;
    flex-direction: row;
    color: grey;
    gap: 120px;
}
.below p{
    font-size: 10px;
    position: relative;
    top: -13px;
}
.low-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: 180px;
    gap: 10px;
}
.offer{
    width: 98%;
    height: 80px;
    border: 2px solid rgba(128, 128, 128, 0.425);
    border-radius: 15px;
}
.background{
    height:30px;
    width: 30px;
    background-color: #d3dae4;
    position: relative;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-g{
    height:30px;
    width: 30px;
    background-color: #e3f2bb;
    position: relative;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bookmark{
    position: relative;
    top: -20px;
    left: 108px;
}
.texts{
    height: 20px;
    width: 100%;
    /* background-color: #4b69db; */
    position: relative;
    left: 10px;
    top: -26px;
}
.texts p{
    font-size: 10px;
    position: relative;
    top: -21px;
    color: grey;
}
