.blue {
    color: blue;
  }

  .red {
    color: red;
  }

  .green {
    color: green;
  }

  .aqua {
    color: aqua;
  }

  .olive {
    color: olive;
  }

  .yellow {
    color: yellow;
  }

  .lightcyan {
    color: lightcyan;
  }

  .teal {
    color: teal;
  }

  .navy {
    color: navy;
  }

  .magenta {
    color: magenta;
  }

  #black {
    color: black;
  }